/PPB/bin/ 
/PPB/obj/ 
/PPB/Services/ 

 
/PPB.Common/bin/ 
/PPB.Common/obj/ 

 
/PPB.Constant/bin/ 
/PPB.Constant/obj/ 


/PPB.DBManager/bin/ 
/PPB.DBManager/obj/


/PPB.PythonService/bin/ 
/PPB.PythonService/obj/

 
/PPB.Tests/bin/ 
/PPB.Tests/obj/ 
