@{
    ViewBag.Title = "ModelConfig";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Model Configuration</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-cogs"></i>Project File Management</a></li>
        <li class="active">Model Configuration</li>
    </ol>
</section>
<section class="content">
    <div class="row"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-list"></i><h3 class="box-title">Model Configuration</h3>
                </div>
                <div class="box-body admin-content">
                    This part is for Model Configuration
                </div>
                <div class="box-footer">
                    <a href="javascript:void(0)" class="btn btn-primary pull-right model-download-btn"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row editModelConfigDiv">

    </div>
</section>

<script src="~/Scripts/projectfile/modelconfig.js"></script>
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            
        });

    </script>
}
