@using PPB.DBManager.Models
@model PlcConfigurationSummary

@{
    ViewBag.Title = "PlcConfig";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        PLC Configuration
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-cogs"></i>Project File Management</a></li>
        <li class="active">PLC Configuration</li>
    </ol>
</section>
<section class="content">
    <div class="row"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-list"></i><h3 class="box-title">PLC Configuration</h3>
                </div>
                <div class="box-body admin-content">
                    @Html.Partial("_PlcConfigDataTablePartial", Model.plcHierList)
                </div>
            </div>
        </div>
    </div>
    <div class="row editPlcConfigDiv">

    </div>
</section>
<script src="~/Scripts/projectfile/plcconfig.js"></script>
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            initCommonDataTable('#PlcConfigDataTbl');
            bindPlcConfigEvent();
        });

    </script>
}

